
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* > * {
	font-family: "Poppins", cursive;
	margin: 0;
}

.actBtngrp {
	display: flex;
	flex-direction: row;
	gap: 644px;
}

.forHead {
	padding: 20px;
	text-align: center;
	color: darkslateblue;
	padding-bottom: 10px;
}

.genBut {
	position: relative;
	color: aqua;
	width: fit-content;
}

.btn {
	position: absolute;
	color: blue;
	background-color: chocolate;
}

.forSection {
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.register {
	max-width: max-content;
	display: flex;
	border: 1px solid #e9ecef;
	padding-top: 10px;
	border-radius: 5px;
	background-color: white;
}

.register span {
	color: #adb5bd;
}

.flex {
	display: flex;
	gap: 1em;
}

.flex-col {
	flex-direction: column;
}

.col1 {
	direction: ltr;
	padding: 100px;
}

.register .col-2 img {
	width: 480px;
	height: 100%;
	object-fit: cover;
	align-self: flex-end;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: none;
}

@media screen and (min-width: 860px) {
	.register .col-2 img {
		display: initial;
	}
}
