body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

code {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    monospace;
}

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.container,
.small-container{
  max-width: 100vw;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.small-container h1{
    text-align: center;
    color: #0366ee;
}

.muted-button,
a.muted-button {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}

.muted-button:hover,
.muted-button:focus,
.muted-button:active,
a.muted-button:hover,
a.muted-button:focus,
a.muted-button:active {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.round-button,
a.round-button {
  border-radius: 40px;
}

.striped-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.contain-table {
    overflow-x: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}
  
.text-right {
    text-align: right;
}


 button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 select::-ms-expand {
   display: none;
 }
 
 @media (min-width: 600px) {
   .split-form label {
     text-align: right;
     padding: 0 0.5rem;
     margin-bottom: 1rem;
   }
 }



table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}
/* 
thead{
	color: #ffffff;
	background-color: #343434;
}

table td,
table th {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color:  #f3f3f3;
}

table tr:hover {
  background-color: #e3e3e3;
}

thead th, tfoot td {
  border-bottom: 2px solid #dedede;
  color: white;
background-color: #343434;
padding-top: 12px;
padding-bottom: 12px;
text-align: center;


}
td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}
 */
